@model IList<BookWebMVC.Data.Model.Author>

@{
    var rows = Math.Ceiling(Model.Count / 4.0);
}
@for (var row = 0; row < rows; row++)
{
    for (var col = 0; col < 4; col++)
    {
        if (row * 4 + col >= Model.Count)
        {
            break;
        }

        var author = Model[row * 4 + col];

        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="@Url.Action("Show", "Image", new {id = author.ProfilePictureId, clip = true})"
                     alt="@($"{author.FirstName} {author.LastName}")"
                     class="authorimage" />

                <div class="caption">
                    <h3> @author.FirstName @author.LastName </h3>
                    <p>
                        @(author.Description.Length > 100 ? $"{author.Description.Substring(0, 100)}..." : author.Description)
                    </p>
                    <p>
                        @Html.ActionLink("Details", "Details", new { id = author.Id }, new { role = "button", @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    }
}